

body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    margin:0;
    padding: 0;
    
}


#main{
  display:grid;
  grid-template-rows: 10em 0.5fr 1fr 0.5fr 5em;
  height: 100vh;

}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(36,36,38);
    color: white;

    
}

#title{
    font-size: 1.8em;
    
}

#img-div{
    padding-top: 20px;
    background-color: white;
    margin: 0;
 
    
}


#image{
    display: block;
    max-width:100%;
    height: auto;
    margin: auto;
}

#img-caption{
    font-size: 16px;
    text-align: center;
    color: rgb(75, 75, 75);
}


#tribute-info{

    background-color: rgb(36,36,38);
    padding-bottom: 40px;
}




.box-left{
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 5px 0px 0px 5px;;
    width: 20%;
    left: 30%;
    padding: 15px;
    padding-right: 20px;
    color: rgb(75, 75, 75);
}


.box-right{
    position: relative;
    text-align: center;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    left: 50%;
    width: 20%;
    padding: 15px;
    padding-left: 20px;
    color: rgb(75, 75, 75);
}


h3#time-line{
    margin: 50px 0;
    text-align: center;
    color: white;
}


blockquote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
  
    text-align: center;
    align-items: center;
    color: rgb(75, 75, 75);
    
}



footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(36,36,38);
    color: white
  
   
}

h3#text-footer{
    font-size: 16px;
}


a{

color: white;
}



.box-right:hover{
    background-color:rgb(36,36,38);
    color: white;
}

.box-left:hover{
    background-color:rgb(36,36,38);
    color: white;
}